*{
    margin :0%;
    padding : 0%;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

nav{
    background-color: rgb(228, 116, 174);
    color: white;
    padding: 10px;
    text-align: center;
}
body{
    background-color: rgb(245, 73, 245);
}

.container {
    background-color: rgb(226, 104, 124);
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 1vmax 8vmax;
    box-sizing: border-box;
}

.container > form {
    display: flex;
    flex-direction: column;
    
}

input,textarea,button{
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.214);
    border-radius: 5px;
    margin: 5px 0px;
    font-size: 1.0rem;
}

button{
    border: none;
    cursor: pointer;
    background-color: black;
    color : white
}
button:hover{
    background-color: rgb(30, 30, 30);
}

.task{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
    font-size: 1.2rem;
}
.task > div{
    width: 100%;
}

.task span{
    color: rgb(58, 55, 55);
}
.task button{
    border-radius: 100%;
    background-color: rgba(245, 0, 0, 0.685);
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task button:hover{
    background-color: red;
}

/* *{
    border : 1px solid red;
} */